
<div class="jumbotron">
    <h1>Tutorial</h1>
    <p>Implementacja drużyn w relacji jeden do wiele względem użytkowników</p>
    <p>Strona jest w pełni funkcjonalna, wszystko co jest wyjaśnione w tutorialu zostało zaimplementowane</p>
    <p><a class="btn btn-primary btn-lg" href="home/tutorial" role="button">Przejdź do TUTORIALA</a></p>
  </div>